.todo-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-checkbox {
  margin-right: 10px;
  cursor: pointer;
  transform: scale(1.2);
}
.search-container {
  margin-left: 20px;
}
.search-input {
  padding: 6px 6px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}
.search-input:focus {
  outline: none;
  border-color: blue;
}

.todo-item {
  display: flex;
  align-items: center;
  flex: 0 0 calc(45% - 10px);
  border: 2px solid black;
  border-radius: 5px;
  padding: 8px 8px;
  width: 30%;
  height: 2.5rem;
  font-size: 18px;
}
.completed-task {
  text-decoration: line-through;
  color: green;
}
.not-completed-task {
  color: black;
}

.delete-button-container {
    margin-left: auto;
}
.delete-button {
    padding: 8px 14px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
