.list-header {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.sort-container {
    margin-left: 20px;

}
.sort-dropdown {
    margin-bottom: 40px;
    padding: 4px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
.sort-dropdown option {
    cursor: pointer;
}
.sort-dropdown:focus {
    outline: none;
    border-color: black
}
.sort-dropdown:hover {
    background-color: rgb(238, 231, 231);
    transition: background-color 0.3s ease;
}
.task-input {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.task-input:focus {
    border-color: #007BFF;
    outline: none;
}
.add-input-button {
    padding: 8px 14px;
    margin-left: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-container {
    margin-top: 10px;
}
.button-container button {
    padding: 8px 8px;
    width: 15%;
    font-size: 16px;
    font-weight: bold;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}